/* Remove estilos padrão do defaultTheme */
.theme-default-content {
  max-width: none !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: unset !important;
  line-height: unset !important;
}

/* Remove container */
.page {
  padding: 0 !important;
  margin: 0 !important;
  max-width: none !important;
}

.page-meta {
  padding: 0 !important;
}

/* Zera estilos do tema */
.theme-default-content * {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f6f6;
}

.back-to-top {
  display: none !important;
}
